
.grid_1_of_4{

	background-color:white;
	margin-left: 0px;
    margin-right: 11px;
    margin-bottom: 11px;
	display: block;
	float:left;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_4 {
	width: 20.8%;
	padding:1.5%;
	text-align:center;
	position:relative; 
}
.images_1_of_4  img{
	max-width:100%;
}

